.mini-upgrade-btn{
    background-color: #4CCD8D;
}
.logo-cnt{
  background-color: #ffffff;
}

.sidebar{
    width: 100%;
    height: 100vh;
    transition: all 0.5s;
    background-color: #ffffff;
    border-right: 1px solid #E4E4E4 ;
    overflow-y: scroll;
  
  }
  .sidebar::-webkit-scrollbar{
    width: 0.3rem;
    background-color: #FFFFFF;
  }
  .sidebar::-webkit-scrollbar-thumb{
    background-color: #e9e9e9;
  }
  
  